<template lang="pug">
  div(
    v-loading="isLoading"
    element-loading-text="Загрузка..."
  )
    .profile-block-offer(v-if="items.length")
      ad-card(v-for="item in items", :key="item.id", :item="item")

    .ads-market-pagination(v-if="items.length")
      el-pagination(
        v-if='hasPagination',
        :total='pages.total',
        :page-size='pages.per_page',
        :current-page='pages.current_page',
        background,
        layout='prev, pager, next',
        @current-change='changeCurrent',
      )

    div.nothing-found(v-else-if="!isLoading")
      | {{lang.adList.nothingFound}}

    div(v-else)
</template>

<script>
import { ADS_SELLERS, ADS_FILTER_SET } from '../../../store/actions/markets';
import { EVENT_MARKET_CLOSE, EVENT_MARKET_OPEN } from '../../../store/actions/events';
import adList from '../Mixins/adList';
import { mapGetters } from 'vuex';
import adUtils from '../../mixins/ads';

export default {
  name: 'AdsSell',

  mixins: [
    adUtils,
    adList,
  ],

  data() {
    return {
      action: ADS_SELLERS,
      loadingAction: ADS_SELLERS,
      filterAction: ADS_FILTER_SET,
    };
  },

  computed: {
    ...mapGetters({
      itemsRaw: 'sale',
      paginationRaw: 'salePagination',
      filterSource: 'marketFilter',
    }),
  },

  mounted() {
    this.$store.dispatch(EVENT_MARKET_OPEN);
    this.$emit('handleAnalytics');
  },

  beforeDestroy() {
    this.$store.dispatch(EVENT_MARKET_CLOSE);
  },
};
</script>
