<template lang="pug">
  div
    h3 Сколько вы хотите {{labelDealAction}}?

    form.d-e-blocks.w-100.pr-0.mb-3.take-set-input(novalidate)
      span {{labelFiatAction}}
      .block-wrap
        input(
          type='text',
          v-model="fiat_amount",
          lang="en-150",
          step="1",
          min="0",
          @input="debouncedCalcCrypto()"
          autocomplete="off"
        )
        .currency-name
          | {{fiatCode}}

    .d-e-blocks.w-100.pr-0.mb-4.pb-3.take-set-input
      span {{labelCryptoAction}}
      .block-wrap
        input(
          type='text',
          v-model="crypto_amount",
          lang="en-150",
          step="0.00000001",
          min="0",
          @input="debouncedCalcFiat()",
          autocomplete="off"
        )
        .currency-name
          | {{cryptoCode}}
</template>

<script>
import dealCalculator from './Mixins/dealCalculator';
import _ from 'lodash';

export default {
  name: 'CalculatorForm',

  mixins: [
    dealCalculator,
  ],

  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    accuracy: {
      type: Object,
      default() {
        return {};
      },
    },
    price: {
      type: Number,
      default: 1,
    },
    min: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      // local form
      crypto_amount: 0,
      fiat_amount: 0,

      lang: {
        calcForm: {},
      },
    };
  },

  computed: {
    //
    labelDealAction() {
      return this.isSale ? 'купить' : 'продать';
    },

    //
    labelCryptoAction() {
      return this.isSale ? 'Покупаете' : 'Продаете';
    },

    //
    labelFiatAction() {
      return this.isSale ? 'Оплачиваете' : 'Получаете';
    },
  },

  watch: {
    //
    min(newVal) {
      if (newVal) {
        this.fiat_amount = this.min;
        this.calcCrypto();
      }
    },
  },

  created() {
    this.debouncedCalcFiat = _.debounce(this.calcFiat, 500);
    this.debouncedCalcCrypto = _.debounce(this.calcCrypto, 500);
  },

  mounted() {
    if (this.min > 0) {
      this.fiat_amount = this.min;
      this.calcCrypto();
    }
  },

  methods: {
    //
    calcFiat() {
      this.crypto_amount = this.inputToValid(this.crypto_amount);
      let fiat_amout = (this.price * this.crypto_amount);
      this.fiat_amount = fiat_amout === 0 ? 0 : fiat_amout.toFixed(this.accuracy[this.fiatCode]);
      this.emitForm();
    },

    //
    calcCrypto() {
      this.fiat_amount = this.inputToValid(this.fiat_amount);
      let crypto_amount = (this.fiat_amount / this.price);
      this.crypto_amount = crypto_amount === 0 ? 0 : crypto_amount.toFixed(this.accuracy[this.cryptoCode]);
      this.emitForm();
    },

    //
    inputToValid(val) {
      val = parseFloat(val.toString().replace(/[^0-9.]/g, ''));
      if (isNaN(val)) {
        val = 0;
      }

      return val;
    },

    //
    emitForm() {
      this.$emit('formUpdated', {
        crypto_amount: parseFloat(this.crypto_amount),
        fiat_amount: parseFloat(this.fiat_amount),
      });
    },
  },
};
</script>
